.dish-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100vw;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 640px) {
  .dish-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .dish-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
